body{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5%;
    border: 2px solid white;
    height: 100%;
}
.title{
    font-size: 30px;
}
.description{
    font-size: 20px;
}
.profile-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}